{% extends 'layout.twig' %}

{% set title = 'Download' %}

{% block content %}
    {% if manifest_data is null %}
        <p>-</p>
    {% else %}
        {% for version_data in manifest_data %}
            <div>
                {% if version_data.highlighted %}
                    <h3>
                        <strong>
                            Deployer {{ version_data.version }}
                        </strong>
                    </h3>
                {% else %}
                    <h3>
                        Deployer {{ version_data.version }}
                    </h3>
                {% endif %}

                <a class="button" href="{{ version_data.url }}"
                   onclick="ga('send', 'event', 'button', 'download', '{{ version_data.version }}');">
                    Download deployer.phar ({{ version_data.version }})
                </a>
                <br>
                {% if version_data.sha1 %}
                <p>
                    SHA1: <code>{{ version_data.sha1 }}</code>
                </p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
