{% extends 'layout.twig' %}

{% set title = 'Download' %}

{% block content %}
    <h3>Latest version</h3>

    <p>
        <a href="{{ latest.url }}" onclick="ga('send', 'event', 'button', 'download', '{{ latest.version }}');"
           class="button">Download deployer.phar ({{ latest.version }})</a>
    </p>

    <p>
        Or
        {% include 'installation.twig' %}
    </p>

    <h3>Other versions</h3>

    <table>
        <tr>
            <th></th>
            <th>sha1</th>
        </tr>
        {% for version_data in manifest_data %}
            <tr>
                <td>
                    <a href="{{ version_data.url }}"
                       onclick="ga('send', 'event', 'button', 'download', '{{ version_data.version }}');">
                        {% if version_data.highlighted %}
                            <strong>
                                {{ version_data.version }}
                            </strong>
                        {% else %}
                            {{ version_data.version }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if version_data.sha1 %}
                        <code>{{ version_data.sha1 }}</code>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
